section.brands
  h1.brands__logotype Via del Corso 88
  menu.brands__nav
    button.brands__next(type="button")
    button.brands__prev(type="button")
  section.brands__book
    
    .brands__wrapper
      
      .brands__screen
        .brands__left
          img(src="images/logotype-1.png", alt="Логотип")
        .brands__right
          .brands__content
            h2.brands__title Violanti
            p.brands__text Ателье семьи Violanti, с которого, собственно, и началась история марки, было открыто более полувека назад, в 1948 г. Тогда основным направлением деятельности компании было изготовление модной одежды для спорта и активного отдыха. Это определяло основные приоритеты развития предприятия: отбирались и разрабатывались материалы с такими свойствами, как водонепроницаемость, способность отталкивать грязь, простота в уходе, надежная защита от холода.
      
      .brands__screen
        .brands__left
          img(src="images/logotype-2.png", alt="Логотип")
        .brands__right
          .brands__content
            h2.brands__title Violanti
            p.brands__text Ателье семьи Violanti, с которого, собственно, и началась история марки, было открыто более полувека назад, в 1948 г. Тогда основным направлением деятельности компании было изготовление модной одежды для спорта и активного отдыха. Это определяло основные приоритеты развития предприятия: отбирались и разрабатывались материалы с такими свойствами, как водонепроницаемость, способность отталкивать грязь, простота в уходе, надежная защита от холода.
