section.brands
  h1.brands__logotype Via del Corso 88
  menu.brands__nav
    button.brands__next(type="button")
    button.brands__prev(type="button")
  section.brands__book
    
    .brands__wrapper

      .brands__screen.violanti
        .brands__left
          img(src="/images/brands/violanti.png", alt="Violanti")
        .brands__right
          .brands__content
            h2.brands__title Violanti
            p.brands__text.
              Особенность итальянской одежды Violanti, созданной для современного горожанина - это в первую очередь
              самодостаточность вещей, каждая из которых может стать основой полноценного
              гардероба. Сочетание практичности и дизайна позволяет носить одну и ту же модель, не изменяя
              своему стилю

      .brands__screen.liis
        .brands__left
          img(src="/images/brands/liis.png", alt="LIIS JAPAN")
        .brands__right
          .brands__content
            h2.brands__title LIIS JAPAN
            p.brands__text.
              Взгляд на японские традиции сквозь призму европейских тенденций - это проект Liis Japan, десять лет назад
              созданный японским стилистом Madame Liis Yoshiko. Натуральное сырье в сочетании с новыми технологиями
              обеспечивают бренду узнаваемый почерк, а вам - удобную и стильную одежду.

      .brands__screen.ptow
        .brands__left
          img(src="/images/brands/ptow.png", alt="PTOW")
        .brands__right
          .brands__content
            h2.brands__title PTOW
            p.brands__text.
              Туринский бренд  PTOW уже полвека назад создавал мужские брюки, а в начале 21 века вышел на новый виток
              развития. Благодаря высокому качеству тканей, элементам ручной работы и оригинальным моделям сегодня
              эти вещи можно встретить в лучших витринах Европы, США и Японии.

      .brands__screen.seventy
        .brands__left
          img(src="/images/brands/seventy.png", alt="Seventy")
        .brands__right
          .brands__content
            h2.brands__title Seventy
            p.brands__text.
              Бренд, созданный в 70х годах (о чем можно догадаться из названия) - это детище итальянского дизайнера
              Серджио Тэгона, который решил проверить свою интуицию в переменчивом мире моды. Эксперимент удался,
              и сегодня Seventy - это первоклассная одежда для мужчин и женщин, итальянская классика в современном темпераменте.

      .brands__screen.shaftjeans
        .brands__left
          img(src="/images/brands/shaftjeans.png", alt="ShaftJeans")
        .brands__right
          .brands__content
            h2.brands__title ShaftJeans
            p.brands__text.
              Сложно представить, но совсем недавно, всего 50 лет назад,  джинсы воспринимались
              обществе как настоящий вызов и символ бунтарства. В те времена и родилась итальянская марка ShaftJeans,
              которая сегодня по праву считается одной из наиболее престижных, самобытных и качественных марок в мире денима.

      .brands__screen.kangra
        .brands__left
          img(src="/images/brands/kangra.png", alt="Kangra")
        .brands__right
          .brands__content
            h2.brands__title Kangra
            p.brands__text.
              Когда мы говорим кашемир, мы подразумеваем Kangra. Это бренд, который долгие годы потратил на поиск
              правильных технологий обработки ценного сырья и таки добился безупречного качества изделий. Стиль
              и чистота пряжи, новаторство и традиции, наука и искусство объединяются в этих вещах - к вашей радости и комфорту.
