button.project-navigation__open(type="button") Меню
.project-navigation
  nav.project-navigation__links
    a.project-navigation__link(href="home.html"): span Главная
    a.project-navigation__link(href="about.html"): span О магазине
    a.project-navigation__link(href="brands.html"): span бренды
    a.project-navigation__link(href="collection.html"): span коллекция
    a.project-navigation__link(href="contacts.html"): span контакты
    button.project-navigation__close(type="button")
.project-navigation__lightbox
