button.project-navigation__open(type="button") Меню
.project-navigation
  nav.project-navigation__links
    a.project-navigation__link(href="/"): span Главная
    a.project-navigation__link(href="/about/"): span О магазине
    a.project-navigation__link(href="/brands/"): span бренды
    a.project-navigation__link(href="/collection/"): span коллекция
    a.project-navigation__link(href="/contacts/"): span контакты
    button.project-navigation__close(type="button")
.project-navigation__lightbox
