button.project-navigation__open(type="button") Меню
.project-navigation
  nav.project-navigation__links
    a.project-navigation__link(href="home.html") Главная
    a.project-navigation__link(href="about.html") О магазине
    a.project-navigation__link(href="brands.html") бренды
    a.project-navigation__link(href="collection.html") коллекция
    a.project-navigation__link(href="contacts.html") контакты
    button.project-navigation__close(type="button")
.project-navigation__lightbox
