section.landing
  menu.landing__nav
    button.landing__prev(type="button")
    button.landing__next(type="button")
  h1.landing__title Via Del Corso 88
  .landing__wrapper
    .landing__screen.landing__screen_first
      .landing__text.
        Эта история начинается в сердце Тосканы – там, где родился итальянские язык и Данте Алигьери, древние этруски
        и Ренессанс, Леонардо да Винчи и Роберто Кавалли. В удивительном городе, где воздух пропитан гениальностью
        и свободой. И как только ты делаешь первый вдох, внутри тебя рождается твоя собственная Тоскана…
        Теперь у нее есть точный адрес.
      
    .landing__screen.landing__screen_two
      .landing__text.
        Via del Corso 88 – это дом, которого нет на карте Флоренции. Мы так полюбили эту узкую улочку, что захотели
        поделиться с вами ее приветливой атмосферой, эффектными витринами, яркими красками и воздушными силуэтами красивых людей…

    .landing__screen.landing__screen_last
      .landing__text.
        И теперь продолжение итальянской Via del Corso встречает вас на уютной Воздвиженке – с самыми интересными
        итальянскими и мировыми брендами, которые вам напомнят: мода – это больше чем одежда.
        Это возможность без лишних слов сказать, кто ты есть. Это способ найти себя.
