section.landing
  menu.landing__nav
    button.landing__prev(type="button")
    button.landing__next(type="button")
  h1.landing__title Via Del Corso 88
  .landing__wrapper
    .landing__screen.landing__screen_first
      .landing__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut odio velit. Curabitur sed felis augue. Aliquam imperdiet tortor at diam vehicula, at ulatricies ligula volutpat. Suspendisse tincidunt pharetra consequat. Phasellus non aliquam augue, sed congue tellus. Donec condimentum laoreet efficitur. Mauris a
      
    .landing__screen.landing__screen_last
      .landing__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut odio velit. Curabitur sed felis augue. Aliquam imperdiet tortor at diam vehicula, at ulatricies ligula volutpat. Suspendisse tincidunt pharetra consequat. Phasellus non aliquam augue, sed congue tellus. Donec condimentum laoreet efficitur. Mauris a
