<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta( name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
      
    block title
      title Via del Corso 88
    
    link(rel="stylesheet", href="css/styles.css")
    
    script(src="js/modernizr/modernizr.js")
    script(src="js/jquery/dist/jquery.min.js")
    script(src="js/keymaster/keymaster.js")
    script(src="js/hammer.js/hammer.min.js")
      
    script(src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAqLD93GvQqi6bMkWV1vNMQT5813h7mZAY")
  body

    include ../header/header.jade

    block content

    include ../footer/footer.jade
    block footer
      +footer(false)

    script(src="js/scripts.js", async, def)
