html{
  height: 100%;
  width: 100%;
  body{
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'PF Din', sans-serif;
    overflow: hidden;
    .bgsc{
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      }
  }
}
