section.about
  h1.about__logotype Via del Corso 88
  .about__wrapper
    .about__content 
      h2.about__title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien lobortis, efficitur quam a, euismod nisl. Quisque id malesuada nibh, id efficitur mi.
      p.about__text Nullam et erat non ex efficitur luctus quis at nibh. Sed eu orci mauris. Nam ac porta eros. Integer ullamcorper diam ac suscipit accumsan. Fusce est quam, tempor accumsan scelerisque et, suscipit vitae massa. Integer sed imperdiet velit. Integer in tortor et dolor laoreet mattis. am ac suscipit accumsan. Fusce est quam, tempor accumsan scelerisque et, suscipit vitae massa. Integer sed imperdiet velit. Integer in tortor et dolor laoreet mattis.
    a.about__address(href="https://goo.gl/maps/ngCdk", target="_blank") г. Киев, ул. Воздвиженская 21
