section.collection
  h1.collection__logotype Via del Corso 88
  
  section.collection__book
    
    menu.collection__nav
      button.collection__next(type="button")
      button.collection__prev(type="button")
    
    .collection__wrapper
      
      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2331_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» блуза-туника
            p.collection__text Состав: 93% вискоза, 2% эластан

      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2355_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» туника
            p.collection__text Состав: 100% шелк, 100% коттон

      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2379_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» майка
            p.collection__text Состав: 100% коттон, 100% шелк

      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2383_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» кардиган
            p.collection__text Состав: 100% коттон, 100% шелк

      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2402_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» блуза
            p.collection__text Состав: 100% коттон

      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2425_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» блуза
            p.collection__text Состав: 100% коттон

      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2461_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» туника
            p.collection__text Состав: 100% шелк

      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2547_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» сарафан
            p.collection__text Состав: 50% вискоза, 50% шелк

      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2557_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» кофта
            p.collection__text Состав: 100% коттон

      .collection__screen
        .collection__left
          img(src="/images/collection/20140402_vogatoscana_2635_s.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» блуза
            p.collection__text Состав: 85% коттон, 10% вискоза, 5% эластан
