@import "../../helpers/helpers.scss";


.collection{

  &__screen{
    position: fixed;
    height: 80%;

    top: 10%;
    right: 30px;
    left: 39%;

    margin: 0 auto;

    opacity: 0;

    transform-origin: 25% 50%;
    }

  &__title{
    color: $orange;
    text-transform: uppercase;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 20px;
    }

  &__text{
    color: $grey;
    text-transform: uppercase;
    font-family: 'Bebas', sans-serif;
    font-size: 16px;
    line-height: 20px;
    }

  &__content{
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
    right: 0;
    padding: 0 12.5%;
    }

  &__left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    overflow: hidden;

    img{
      height: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      }
    }
  &__right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;

    background-color: $white;
    }

  &__next,
  &__prev{
    @include clear-button;

    position: fixed;
    right: 50%;

    margin: 0 20px 0 0;

    width: 40px;
    height: 40px;
    overflow: hidden;
    transform: scale(1);
    transition: background-color .25s, transform .25s;
    background-color: rgba($purple, .85);
    background-position: 50% 50%;
    background-size: 40px 40px;
    z-index: 15;
    &:hover{
      background-color: rgba($purple, 1);
      transform: scale(1.2);
      }
    }
  &__prev{
    margin-bottom: -25px;
    bottom: 90%;
    background-image: url('../images/up.svg');
    }
  &__next{
    margin-top: -25px;
    top: 90%;
    background-image: url('../images/down.svg');
    }

  &__logotype{
    width: 39%;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 10px;

    background: url('../images/logotype-middle-purple.svg') 50% 50% no-repeat;
    background-size: 100% auto;

    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    z-index: 1;
    }

  &_mobile{
    .collection__right,
    .collection__left{
      width: 100%;
      left: 0;
      background: none;
      }
    .collection__content{
      background: rgba($white, .5);
      padding: 10px;
      width: auto;
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);
      }
    .collection__text{
      color: rgba($black, .5);
      }
    .collection__screen{
      transform-origin: 50% 50%;
      }
    }
  }
