@import "../../helpers/helpers.scss";


.collection{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__next,
  &__prev{
    @include clear-button;

    position: fixed;
    right: 50%;

    margin: 0 20px 0 0;

    width: 40px;
    height: 40px;
    overflow: hidden;
    transition: background-color .25s;
    background-color: rgba($purple, .85);
    background-position: 50% 50%;
    background-size: 40px 40px;
    z-index: 15;
    &:hover{
      background-color: rgba($purple, 1);
      }
    }
  &__prev{
    margin-bottom: -25px;
    bottom: 100%;
    background-image: url('../images/up.svg');
    }
  &__next{
    margin-top: -25px;
    top: 100%;
    background-image: url('../images/down.svg');
    }

  &__wrapper{
    position: absolute;
    top: 0;
    }

  &__screen{
/*     transform-origin: 25% 50%;
opacity: 0.25;
transform: scale(.25); */
    }


  &__wrapper,
  &__screen{
    width: 100%;
    height: 100%;
    }

  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 75%;
    display: block;
    padding: 12.5%;
    }

  &__title{
    color: $orange;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    margin: 0 0 20px;
    }

  &__text{
    color: $grey;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Bebas', sans-serif;
    }

  &__right,
  &__left{
    width: 50%;
    height: 100%;
    float:left;
    position: relative;
    overflow: hidden;
    }

  &__right{
    background-color: $white;
    }

  &__left{
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      margin: 0;
      display: block;
      height: 100%;
      max-height: 100%;
      }
    }

  &__book{
    position: fixed;
    top:50%;
    right: 30px;
    width: 62.5%;

    max-height: 95%;

    transform: translate(0, -50%);

    &:before{
      content: "";
      display: block;
      margin: 80% 0 0;
      }
    }

  &__nexts{
/*     opacity: .4;
transform: scale(.5); */
    .collection__left:before{
      content: "";
      display: block;
      width: 150px;
      height: 150px;
      background: $purple;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 10;
      }

  }

  &__prevs{
/*     opacity: .4;
transform: scale(.5); */
    .collection__left:before{
      content: "";
      display: block;
      width: 150px;
      height: 150px;
      background: $black;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 10;
      }

  }

  &__inner{
    width: 100%;
    height: 100%;
    transform-origin: 25% 50%;
    }

  &__current{
/*     opacity: 1;
transform: scale(1); */
    .collection__left:before{
      content: "";
      display: block;
      width: 150px;
      height: 150px;
      background: $orange;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 10;
      }
    }

  &__logotype{
    width: 39%;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 10px;

    background: url('../images/logotype-middle-purple.svg') 50% 50% no-repeat;
    background-size: 100% auto;

    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    z-index: 1;
    }
  }


@media screen and (max-width: 960px) {
  html body .collection{
    &__logotype{
      display: none;
      }
    &__book{
      width: 100%;
      left: 0;
      right: 0;
      margin: auto;
      }
    }
  }

@media screen and (max-width: 600px) {
  html body .collection{
    &__book{
      height: 100%;
      max-height: none;
      }
    &__left{
      width: 100%;
      float:none;
      position: absolute;
      img{
        width: auto;
        height: 100%;
        }
      }
    &__right{
      background: none;
      width: 100%;
      float:none;
      position: absolute;
      }
    &__content{
      background: rgba($white, .5);
      padding: 10px;
      }

    &__prev,
    &__next{
      display: none;
      }

    }
  }


@media screen and (min-width: 1500px) {
  html body .collection{
    &__title{
      font-size: 28px;
      line-height: 28px;
      margin: 0 0 28px;
      }
    &__text{
      font-size: 24px;
      line-height: 28px;
      }
    }
  }


@media screen and (min-width: 2000px) {
  html body .collection{
    &__title{
      font-size: 36px;
      line-height: 36px;
      margin: 0 0 36px;
      }
    &__text{
      font-size: 28px;
      line-height: 36px;
      }
    }
  }
