section.collection
  h1.collection__logotype Via del Corso 88
  section.collection__book
    menu.collection__nav
      button.collection__next(type="button")
      button.collection__prev(type="button")
    
    .collection__wrapper
      
      .collection__screen
        .collection__left
          img(src="images/collection-1.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» кардиган
            p.collection__text Состав: 100% коттон, 100% шелк
      
      .collection__screen
        .collection__left
          img(src="images/collection-2.jpg", alt="Фотография")
        .collection__right
          .collection__content
            h2.collection__title «Liis Japan» кардиган
            p.collection__text Состав: 100% коттон, 100% шелк
      
