section.contacts
  h1.contacts__logotype Via del Corso 88
  
  section.contacts__information
    address.contacts__address г. Киев ул. Воздвиженская 21
    p
      a.contacts__tel(href="tel:+380672340290") +38 (067) 234-02-90
    p
      a.contacts__email(href="mailto:mail@domainl.com") mail@domainl.com

  a.contacts__map(href="https://goo.gl/maps/GKku9", target="_blank")
    span.contacts__map-open посмотреть карту
